.swiper-container-wrapper{
  position: relative;
}
 .swiper-container {
  display: flex;
  justify-content: center; 
  max-width: 1000px;
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  margin: 0 auto; 
}
.swiper-wrapper {
  display: flex;
  width: 100%;
} 

.swiper-slide {
  flex-shrink: 0;
  width: 300px;
  text-align: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 10 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}



@media (max-width: 1200px) {
  .swiper-container{
    max-width: 75%;
  }
}
/* @media (max-width: 750px) {
  .swiper-container{
    max-width: 50%;
  }
} */

@media (max-width: 500px) {
.swiper-container{
  height: 350px;
}
.swiper-button-next, 
.swiper-button-prev{
  width: 20px;
  height: 20px;
}
.color-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.color-btn, #clear-filter{
  padding: 10px;
  margin: 10px;
}
}

.color-buttons { 
  margin-block: 20px;
  text-align: center; 
}
.color-btn, #clear-filter {
  margin: 0 5px;
  padding: 6px 16px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  color: #000;
}
.color-btn.active { 
  background: #000; 
  color: #fff; 
}
.color-btn--red{
  background-color: rgb(221, 12, 12);
  color: #fff;
}
.color-btn--blue{
  background-color: rgb(14, 14, 179);
  color: #fff;
}
.color-btn--green{
  background-color: green;
  color: #fff;
}